 <div id ="showcase">
        <h1> Welcome to the Checkout </h1>
        <p> This is a usifull interactive map what you can change you social life in your city</p>
        <a href="/users/register" class="button"> Register now </a>
        </div>
 <div id="services" class="services">
     <div class="container">
         <h2 class="title">О проекте</h2>
         <p class="wow fadeInUp" data-wow-delay="0.4"> CheckOut - это простоя интерактивная карта, которая позволяет создавать возможности в твоем городе в два клика</p>
         <div class="row">
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                 <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                 <h4>Завод новых друзей</h4>
                 <p>У тебя есть возможность найти друзей по интересам</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                 <i class="fa fa-cogs" aria-hidden="true"></i>
                 <h4>Создавай возможности</h4>
                 <p> Не жалуйся, что нет возможностей. Заяви о себе в два клика </p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                 <i class="fa fa-money" aria-hidden="true"></i>
                  <h4>Зарабатывай</h4>
                 <p>Начинай свое маленькое предприятие и благодаря нам о нем узнает весь город</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                 <i class="fa fa-star" aria-hidden="true"></i>
                 <h4>Рейтинг</h4>
                 <p>Будь первым в своем городе, заяви о себе и создай прочные социальные связи</p>
             </div>
         </div>
     </div>
 </div>


<div id="team" class="team">
    <div class="container">
        <div class="row">
            <h2 class="title">Наша команда</h2>
      
            <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s">
                <img src="/images/team1.jpg" class="img-circle" alt="">
                <h4>Владислав Крушеницкий</h4>
                <b>Скромный Босс</b>
                <p>Верит в то, что он главный, но на самом деле программирует больше остальных.</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft"  data-wow-delay="1.6s">
                <img src="/images/team3.jpg" class="img-circle" alt="">
                <h4>Марк Поповиченко</h4>
                <b>Менеджер</b>
                <p>Делает презентации, заставляет работать скромного босса.</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft"  data-wow-delay="1.2s">
                <img src="/images/team2.jpg" class="img-circle" alt="">
                <h4>Никита Булахов</h4>
                <b>Джун</b>
                <p>Ему кажется, что он младший программист, но на самом деле он просто возит нас домой.</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-3 col-md-3  wow fadeInLeft" 0.8>
                <img src="/images/team4.jpg" class="img-circle" alt="">
                <h4>Артем Поляничев</h4>
                <b>Гениальный программист</b>
                <p>Умеет решать любую сложную задачу, даже если придется использовать костыли.</p>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
 


 