	<div id="login-box">
			<div class="left-box">
				<h1 class="sign"> Регистрация </h1>
				<input type="text" name="username" placeholder="Имя пользователя"/>
				<input type="text" name="emain" placeholder="Email"/>
				<input type="password" name="password" placeholder="Пароль"/>
				<input type="password" name="rpassword" placeholder="Повторить пароль"/>

				<input type="submit" name="signup-button" value="Подтвердить"/>
			</div>

			<div class="right-box-log">
				<span class="signinwith"> Sign in with <br/> Social Network <span>

				<button class="social facebook">Facebook</button>
				<button class="social Twitter"> Twitter</button>
				<button class="social google">  Google+ </button>

			</div>


			<div class="or">
				<i class="fa fa-circle-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>