	<div id="login-box">
	<form method="post" action="/users/login">
			<div class="l-left-box">
				<h1 class="sign"> Войти </h1>
				<input type="text" name="username" placeholder="Имя пользователя"/>
				<input type="password" name="password" placeholder="Пароль"/>

				<input type="submit" name="signup-button" value="Войти "/>
			</div>

			<div class="l-right-box-log">
				<span  class="signinwith"> Войти через <span>
				<button class="social facebook">Facebook</button>
				<button class="social twitter"> Twitter</button>
				<button class="social google">  Google+ </button>
			</div>
	</form>


			<div class="or">
				<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
			</div>
		</div>
	</div>