body{
	background-color: black;
}
*{
	margin: 0;
	padding: 0;
}
header{
	position: absolute;
	top:0;
	left: 0;
	padding: 0 100px;
	background: white;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

header .logo{
	color: #6699cc;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul
{
	list-style: none;
}

header nav ul li a
{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #6699cc;
	text-decoration: none;
	display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{

	color: white;
	background: #6699cc;

}

.topic{
	text-align: center;
	color: #1cb0ce;
	margin: 60px;
}

p{
	margin: 0;
	padding: 1em 0;
}

#section-b{
	padding: 2em 1em 1em;
}

#section-b ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#section-b{
	margin-bottom: 1em;
}

.card-content{
	padding: 1.5em;
}

#section-c{
	padding: 2em;

}

#section-d {
	background: #2690d4;
}


#main-footer{
	padding: 2em;
	background: white;
	color:#1cb0ce;
	text-align: center;
}

#main-footer a{
		color:black;
		text-decoration: none;
}
#showcase{
	background-image:url("../images/cityCapital.jpg");
	height:100vh;
	color: white;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: -1;
}

body{
	margin:0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.6;
}
#showcase h1{
	font-size: 50px;
	line-height: 1.2;
}

#showcase p{
	font-size: 20px;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	color: white;
	border: white  1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 20px;
}
#showcase .button:hover{
	background:white;
	color: black;
}


.menu-toggle{

	color: #1cb0ce;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;

}
@media (max-width: 991px)
{
	header{	padding: 0 20px;}

	.menu-toggle{display: block;}
	
	header nav{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #333;
		top:50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active
	{
		left: 0;
	}
	header nav ul 
	{
		display: block;
		text-align:  center;
	}

	header nav ul li a
	{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}

#section-a{
	padding: 20px;

	color: #fff;
	text-align: center;
}
#section-b{
	margin-top: 50px;
	padding: 20px;

	text-align: center;
}

/*SERVICES*/

.services {
    
    padding: 80px 0 80px;
    text-align: center;
}

.services h2,
.services h4 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}


.services p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


.services i {
    
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {
    
    .services {
        
        padding: 30px;
    }
}


.team {
    
    padding: 50px 0 80px;
    text-align: center;
}

.title{
   font-family: 'Comfortaa', cursive;
   text-transform: uppercase;
}
.team b,
.team h2,
.team h4 {
    margin: 20px 0 20px;
    color: #4c4c4c;
}


.team p {
    
    color: #737373;
}

.team img {
    
    height: 150px;
    width: 150px;
    margin-top: 80px;
}


.team i {
    
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a0db8e;
    color: #fff;
}

.team a:hover i {
    
    background-color: #709963;
}


.footer {
    margin-top:60px; 
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}


.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}